<!DOCTYPE html>
<html >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title></title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
  
	<hgroup>
		<a href="https://safemaps.herokuapp.com" class="main_header">SAFE MAPS</a>
	  </hgroup>
	<div class="login" id="logbox">
	  <form action="{{ url_for('connectMap')}}" name="inputform" method="post" id="checkform" enctype="multipart/form-data">
		
		<div class="form_left">

				<p class="format_docs">Format: (DPA,TIL,CRL,DIS)</p>
				<p class="format_docs">DPA : Density of people affected</p>
				<p class="format_docs">TIL : Traffic Intensity Level</p>
				<p class="format_docs">CRL : Crime Rate Level</p>
				<p class="format_docs">DIS : Distance between two localities</p>
				<div  id="ini_graph_container">
					<img id="ini_graph" src="{{ url_for('static', filename='img/Graph.png') }}">
				</div>


				<div class="form-group">
					<p class="disp_head">Source</p>
					<select form ="checkform" id="source" name="source" class="form-control" id="exampleFormControlSelect1">
					<option>Tezu</option>
					<option>Paruwa</option>
					<option>Mission</option>
					<option>Civil</option>
					<option>Dolabari</option>
					<option>Bridge</option>
					<option>Majgaon</option>
					<option>ASTC</option>
					<option>Kameng</option>
					<option>Dekargaon</option>
					</select>
				</div>

				<div class="form-group">
					<p class="disp_head">Destination</p>
					<select form ="checkform" id="destination" name="destination" class="form-control" id="exampleFormControlSelect1">
					<option>Tezu</option>
					<option>Paruwa</option>
					<option>Mission</option>
					<option>Civil</option>
					<option>Dolabari</option>
					<option>Bridge</option>
					<option>Majgaon</option>
					<option>ASTC</option>
					<option>Kameng</option>
					<option>Dekargaon</option>
					</select>
				</div>

			</div>
		
		<br>
		<div class="group" id="result">
		 <p class="disp_head">Safest Route:</p>
		 <p id="result_content">{{ safest_path }}</p>
	  </div>

	  <br>
		<button type="submit" id="submitbutton" class="button buttonBlue">Get Route
		  <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
		</button>
	  </form>
	  
	  
	

 </div>
	  <br>
	  
	  <footer><a href="https://github.com/adiXcodr/SafeMaps" target="_blank"><img src="{{ url_for('static', filename='img/github.png') }}"></a>
		<p>Check <a href="https://github.com/adiXcodr/SafeMaps" target="_blank">Documentation</a></p>
	  </footer>



	  <script>

	   function ganttEach() {
			var scr_width=$( window ).width();
			$("#ini_graph").css("width",scr_width/1.5 );
			var result=$("#result_content").text();
			if(result!='')
				if(result=='You are in the destination')
					$("#ini_graph").attr("src","{{ url_for('static', filename='img/Graph.png') }}");
		        else
				$("#ini_graph").attr("src","{{ url_for('static', filename='img/Path.png') }}");
	    }
		window.setInterval(ganttEach, 1000);

	  </script>
</body>
</html>

